<!DOCTYPE html>
<html>
<head>
    
    <title>Final Project</title>
</head>
<body>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    
    <script>
    //preprocess
    $(function() {
        // Storage for lists of CSV Data
        var lists = [];

        //Get the CSV Content
        $.get("https://raw.githubusercontent.com/Fireball0424/NYCU_111_database_intro/main/all_skills.csv", function(data) {
            var record_num = 1;
            var allTextLines = data.split(/\r\n|\n/);
            var headings = allTextLines.shift().split(',');
            while (allTextLines.length > 0) {
                entry = allTextLines.shift().split(',');
                lists.push(entry[0].slice(1, -1));
            }
        });  
        $("#skills").autocomplete({
            source: lists
        });
    }); 

    // send json file    
    var form_data = new FormData();
    var cnt = 0;

    function Add_skill_to_list(){
        var input_skill = document.getElementById('skills');
        
        // update display textarea
        $('#d').append('\n');
        $('#d').append(input_skill.value);

        //update json data
        cnt = cnt + 1;
        var key = 'skill_' + cnt.toString(10);
        form_data.append(key, input_skill.value);

        //clean the input area
        input_skill.value = '';
    }

    function Send_json_file(){
        $.ajax({
            type: "POST",
            url: "/route_function",
            data: JSON.stringify(Object.fromEntries(form_data)),
            success: (data) => {
                console.log(data);
            },
            contentType: 'application/json',
            processData: false,
            dataType: "json"
        });
    }
    </script> 
    
    <div class = form-group>
        <p><label>Input owned skills</label></p>
        <input id="skills">
    </div>
    <button onClick="Add_skill_to_list()">Add</button>
    <div>
        <textarea id="d" rows=50 readonly>Your skills list!</textarea>
    </div>
    <button onClick="Send_json_file()">Find</button>
    

</body>
</html>