{% extends 'layout.html' %}

{% block content %}
    <header>
            <p id="title">111 Database Intro Final Project</p>
    </header>
 
    <div class="page-container"> 
        <div class="content-wrap">
            <div id="wrap1">
                <div id="inputDiv1">
                    <p><label><b>Input owned skills</b></label></p>
                    <input id="skills">
                    <button onClick="Add_skill_to_list()">Add</button>
                </div>
                <div id="inputDiv2">
                    <p><label><b>Input Salary Range</b></label></p>
                    <label for="salaryMin">Min(greater than 9)</label>
                    <input type="number" min="9" max="90602" value="9" id="salaryMin"> <br> <br>
                    <label for="salaryMax">Max(less than 90602)</label>
                    <input type="number" min="9" max="90602" value="90602" id="salaryMax"> 
                </div>
                <div id="inputDiv3">
                    <p><label><b>Choose Desired Location</b></label></p>
                    <label for="l1">New Delhi</label>
                    <input type="checkbox" id="l1"> <br>
                    <label for="l2">Bangalore</label>
                    <input type="checkbox" id="l2"> <br>
                    <label for="l3">pune</label>
                    <input type="checkbox" id="l3"> <br>
                    <label for="l4">Chennai</label>
                    <input type="checkbox" id="l4"> <br>
                    <label for="l5">Kolkata</label>
                    <input type="checkbox" id="l5"> <br>
                    <label for="l6">Mumbai</label>
                    <input type="checkbox" id="l6"> <br> 
                    <label for="l7">Hyperabad</label>
                    <input type="checkbox" id="l7"> <br>
                    <label for="l8">Madhya Pradesh</label>
                    <input type="checkbox" id="l8"> <br>
                    <label for="l9">Kerala</label>
                    <input type="checkbox" id="l9"> <br> 
                    <label for="l10">Jaipur</label>
                    <input type="checkbox" id="l10"> <br> 
                </div>
            </div>
   
            <div id="skillList">
                <p id="skill_list_text"><b>Your skill list!</b></p>
                <button onClick="Send_json_file()">Find</button>
            </div>
        </div> 
        <footer class="footer">
            Final Project
        </footer>
    </div>   
{% endblock %}